<article class="about">
    <div class="about-box">
        <h2>About Us</h2>
        <p>We are Mama Jeti's Apothecary! Mama is Maha and Marj, and Jeti is Jessica and Ting-Yi!</p>
        <p>We're in the business of selling skills in the form of potions.</p>
    </div> 
    <div class="about-box">
        <h2>Our Mascot - Sebastian Witting</h2>
        <%= image_tag "#{@mascot}", alt: "Sebastian Witting", class: "pr-size" %>
        <p>Sebastian is our Mascot.</p>
    </div>
    <div class="about-box">
        <h2>Contact Us</h2>
        <p>Sorry we can't help you. Go ahead and try contacting us.</p>
    </div>     
</article>    