<article class="about">
    <div class="about-box">
        <h2>About US</h2>
        <p>We are Mama Jeti's Apothecary! Mama is Maha and Marj, and Jeti is Jessica and Ting-Yi!</p>
    </div> 
    <div class="about-box">
        <h2>Our Mascot - Sebastian Witting</h2>
        <%= image_tag "#{@mascot}", alt: "Sebastian Witting", class: "pr-size" %>
        <p>Sebastian is our Mascot, because...</p>
    </div>
    <div class="about-box">
        <h2>Contact US</h2>
        <p>We are Mama Jeti's Apothecary! Mama is Maha and Marj, and Jeti is Jessica and Ting-Yi!</p>
    </div>     
</article>    