/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";
@import "products";
@import "users";

$primary-font: 'Raleway', sans-serif;
$primary-grey: #9a8c98;
$dark-grey: #4a4e69;
$secondary-color: #c9ada7;
$gold: #f2e9e4;
$navy: #22223b;
$pink: #fe6d73;

$default-border: 2px solid;

body, html {
  overflow: auto;
  height: 100%;
}
.main-container {
  min-height: 100vh;
  display: block;
  position: relative;
  padding-bottom: 100px; /* height of the footer */
  margin-bottom: -50px;
}
footer {
  position: absolute;
  bottom: 0;
  right: 0; 
  text-align: center;
  color: #363636;
  width: 100%;
}


body, h1, h2, h3, h4, h5, h6 {
  font-family: $primary-font
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
}

a, h2, h3 {
  color: $primary-grey;
}

a:hover {
  color: $dark-grey;
  text-decoration: none;
}

// BOOTSTRAP OVERRIDES

.alert {
  margin: 0;
}

.btn-primary {
  background-color: $primary-grey;
  color: white;
  border-color: $primary-grey;
}

.btn-danger {
  background-color: $pink;
  color: white;
  border-color: $pink

}

.btn:hover {
  background-color: $dark-grey;
  color: white;
}

.table td {
  vertical-align: middle;
}

// ---

.app-header__nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.app-header__nav_item {
  margin-top: 1rem;
}

.app-header__nav_item .nav-link {
  color: $dark-grey;
}

.app-header__site-nav-container .app-header__nav_item {
  margin-right: 2rem;
}

.app-header__user-nav-container .nav-item {
  margin-left: 2rem;
}

.list-group-item {
  border: none;
}

.app-header__header {
  max-width: 100%;
  background-color: $secondary-color;
  margin-bottom: 0.5rem;
  padding: 2rem 1rem 1rem 1rem;
  h1 {
    text-align: center;
    margin: 10px auto 10px auto;
    a {
      color: $gold;
    }
  }
}

.alert__container {
  margin: 2rem 0 1rem 0;
}



main {
  padding: 2rem;
}

.app-footer__footer {
  max-width: 100%;
  background-color: $secondary-color;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  h6 {
    text-align: center;
    color: $gold;
  }
}


.app-footer__nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.app-footer__nav_item {
  margin-top: 1rem;
}

.app-footer__nav_item .nav-link {
  color: $dark-grey;
}

.app-footer__site-nav-container .app-footer__nav_item {
  margin-right: 2rem;
}

.app-footer__user-nav-container .nav-item {
  margin-left: 2rem;
}

.pr-grid {
  display: grid;
  grid-template-columns: 2fr 3fr 3fr 2fr;
}

.pr-img {
  grid-column: 2 /3;
}

.pr-description {
  grid-column: 3 /4;
}
.pr-description > h2 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.pr-description  h5 {
  padding-bottom: 2rem;
}
.pr-under {
  padding-top: 3rem;
  padding-bottom: .5rem;
}

.pr-size {
  width: 25vw;
}

.product-photo {
  width: 2.5rem;
}

.user-show-primary-wizard {
  width: 6rem;
}

.user-show-wizard {
  width: 4.5rem;
}

.user-show-icon {
  width: 2.5rem;
}

.user-split-pages {
  display: flex;
  justify-content: center;
}

.btn-distance {
  margin: 2rem;
}

