<section>
  <div>
    <%= image_tag "", alt: "filler" %>
  </div>
  <div>
    <h1>Product Title<%#= @product.name %></h1>
    <p>Product Price<%#= @product.price %></p>
    <%#= button_to "Add to cart", orderitem_path(@product.id) %>
  </div>
</section>